*{
	margin:0;
	padding:0;
	font-family:"Segoe UI",sans-serif;
}

.clear{
	clear:both;
}

/* starting header styling*/

header{
	background-color:black;
	color:#fff;
	text-transform:uppercase;
	position:fixed;
	width:100%;
	z-index:1;
}

header .home, header .icon-tool{
	float:left;
}

header .home, ul li{
	padding:10PX;
	padding:15px 20PX;
}

header .icon-tool{	
	padding:19.3PX 20PX;
	position:absolute;
	right:0;
}

header .home:hover, header .icon-tool:hover, header ul li:hover{
	background-color:#ccc;
	color:black;
	cursor:pointer;
}

header .icon-tool > div{
	width:15PX;
	height:2PX;
	margin-bottom:2px;
	background-color:#fff;
}

header .icon-tool:hover > div{
	background-color:black;
}

#checking-box{
	display:none;
}

header ul{
	display:none;
}
#checking-box:checked ~ ul{
	display:block;
}

/* ending heading styling*/

/* starting image/main tag styling*/

main{
	padding-top:50px;
}

main img{
	width:100%;
}

/* ending image/main tag styling*/

/* starting band section styling*/

.band{
	padding:70PX 15PX;
	text-align:center;
}

.band .title{
	font-size:30PX;
	text-transform:uppercase;
	letter-spacing:5PX;
}

.band .title + p{
	color:grey;
	font-style:italic;
}

.band .title + p:first-letter{
	text-transform:uppercase;
}

.band .title + p, .band .title + p + p{
	margin-top:20PX;
}

.band .title + p + p{
	text-align:justify;
}

.band div{
	margin-top:60PX;
}

.band .bandmember figcaption{
	margin:25px 0 20PX 0 ;
	text-transform:capitalize;
}
/* ending band section styling*/

/* starting tour date section styling*/

.tour-dates{
	background-color:black;
	color:#fff;
	width:100%;
	padding:70PX 0 70PX 0;
	margin:0;
}

.tour-dates div:first-child p:first-child{
	font-size:30PX;
	text-transform:uppercase;
	letter-spacing:5PX;
	margin-bottom:15PX;
}

.tour-dates div:first-child p:last-child{
	font-style:italic;
	color:#919191;
}

.tour-dates div:first-child p:last-child:first-letter{
	text-transform:uppercase;
}

.tour-dates div:first-child p:first-child, .tour-dates div:first-child p:last-child{
	text-align:center;
}

.tour-dates figure{
	background-color:#fff;
	color:grey;
	max-width:94%;
	margin:35PX auto;
}

.tour-dates figure ul{
	list-style:none;
	padding:0;
}

.tour-dates figure ul li{
	padding:8px 17px;
	border:solid 1px #ccc;
	border-bottom:0px;
}

.tour-dates figure ul li:first-letter, .tour-dates figure ul li span > span{
	text-transform:uppercase;
}

.tour-dates figure ul li span{
	padding:0 auto;
	background-color:#F44336;
	color:#fff;
}

.tour-dates figure ul li > span{
	margin-left:20PX;
	padding:1PX 7PX;
	font-size:15PX;
}

.tour-dates figure ul li:last-child{
	position:relative;
}

.tour-dates figure ul li:last-child span{
	background-color:black;
	color:#fff;
	border-radius:50%;
	position:absolute;
	right:30PX;
}

.tour-dates .cities img{
	width:100%;
}

.tour-dates .cities img:hover{
	filter: brightness(50%);
}

.tour-dates .cities figure .content{
	padding:8PX 15PX 15PX 15PX;
}

.tour-dates .cities figure .content h4{
	text-transform:capitalize;
	color:black;
}

.tour-dates .cities figure .content h4 + p{
	color:grey;
	text-transform:capitalize;
	opacity:0.7;
	margin-top:16PX;
}

.tour-dates .cities figure .content h4 + p +p{
	color:black;
	margin-top:16PX;
}

.tour-dates .cities figure .content h4 + p + p:first-letter{
	text-transform:uppercase;
}

.tour-dates .cities figure .content button{
	margin-top:13PX;
	padding:7PX 15PX;
	background-color:black;
	color:#fff;
	text-transform:capitalize;
	font-size:16PX;
	border:none;
}

.tour-dates .cities figure .content button:hover{
	background-color:#ccc;
	color:black;
	cursor:pointer;
}

/* ending tour date section styling*/

/* starting contact section styling*/

.contact{
	padding:70PX 15PX 0PX 15px;
}

.contact p:first-child{
	font-size:25PX;
	letter-spacing:5PX;
	text-transform:uppercase;
	text-align:center;
}

.contact p + p{
	color:grey;
	opacity:0.9;
	font-style:italic;
	margin-top:15PX;
	text-align:center;
}

.contact p + p span{
	text-transform:uppercase;
}

.contact ul{
	list-style:none;
	margin-top:45PX;
	padding:0;
}

.contact ul li{
	padding:5px;
	text-transform:capitalize;
	font-size:18px;
}

.contact ul span{
	text-transform:none;
}

.contact form{
	margin:10PX 0 150PX 0;
	position:relative;
	width:100%;
}

.contact form input{
	width:100%;
	height:35PX;
	box-sizing:border-box;
	margin-bottom:8PX;
	text-transform:capitalize;
}

.contact form input[placeholder]{
	padding-left:10PX;
	font-size:15PX;
}

.contact form button{
	position:absolute;
	right:0;
	margin-top:5PX;
	padding:8PX 15PX;
	background-color:black;
	color:#fff;
	text-transform:uppercase;
	font-size:15PX;
	border:none;
}

.contact form button:hover{
	background-color:#ccc;
	color:black;
	cursor:pointer;
	border:none;
	box-sizing:border-box;
}

.contact div:last-child img{
	width:100%!important;
	filter: grayscale(50%);
}
/* ending contact section styling*/

/* starting footer styling*/

footer{
	padding:50PX;
	background-color:#F6F6F6;
	text-align:center;
	color:grey;
}

footer p:first-child{
	margin-bottom:20PX;
}

/* ending footer styling*/